* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.1875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.gr {
  color: #3DDABE;
  font-weight: 900;
}

.line {
  width: 4.375rem;
  height: 0.25rem;
  border-radius: 10px;
  background: #3DDABE;
}

.btn {
  border-radius: 92px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #3DDABE;
  -webkit-box-shadow: 0px 20px 20px -12px rgba(61, 218, 190, 0.4);
          box-shadow: 0px 20px 20px -12px rgba(61, 218, 190, 0.4);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  line-height: 151.5%;
  padding: 0.9375rem 2.625rem;
  cursor: pointer;
  border: 3px solid #3DDABE;
}

.btn:hover {
  background: #fff;
  color: #3DDABE;
}

.title {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 138%;
  text-transform: uppercase;
}

.header__container {
  position: relative;
  padding: 2.125rem 0.625rem;
}

.header__main {
  position: absolute;
  right: -150px;
  top: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background: #213C37;
  width: 100%;
  height: 6.25rem;
}

* {
  font-weight: 500;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__content {
  border-radius: 40px;
  background: #FFF;
  -webkit-box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.3);
          box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.3);
  width: 500px;
  max-height: 597px;
  padding: 50px 40px;
}

.main__title {
  font-size: 2.875rem;
  font-weight: 900;
  line-height: 138%;
  text-transform: uppercase;
  padding-bottom: 0.625rem;
}

.main__text {
  padding-top: 1.625rem;
  padding-bottom: 3.625rem;
  line-height: 151.5%;
  max-width: 26.25rem;
}

.main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.8125rem;
}

.main__button button {
  color: var(--gray-4, #BDBDBD);
  font-size: 16px;
  font-weight: 600;
  line-height: 151.5%;
  -webkit-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
}

.main__button button:hover {
  color: #3DDABE;
}

.main__button img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main__image {
  padding-top: 1.875rem;
}

.main__button:hover img {
  opacity: 0;
  -webkit-transform: translate(-100px);
      -ms-transform: translate(-100px);
          transform: translate(-100px);
  -webkit-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}

.work {
  background: #FFF;
  -webkit-box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
          box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
  padding-bottom: 68px;
}

.work__container {
  position: relative;
}

.work__decor {
  position: absolute;
  right: -150px;
  top: 152px;
  z-index: -1;
}

.work__title {
  padding-top: 3.125rem;
  padding-bottom: 0.625rem;
  text-align: center;
}

.work__line {
  margin: 0 auto;
}

.work__rows {
  padding-top: 3.125rem;
  padding-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}

.work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__image {
  overflow: hidden;
  border-radius: 30px;
}

.work__image img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 12.8125rem;
}

.work__image img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.work__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4.25rem;
}

.work__subtitle {
  color: var(--gray-5, #E0E0E0);
  font-size: 32px;
  font-weight: 900;
  line-height: 138%;
  text-transform: uppercase;
}

.work__info-line {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 3.125rem;
}

.work__text {
  color: var(--gray-3, #828282);
  font-size: 12px;
  font-weight: 500;
  line-height: 138.5%;
  max-width: 51.6875rem;
}

.work__btn {
  margin: 0 auto;
  text-align: center;
}

.about {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.about__title {
  text-align: center;
  padding-bottom: 10px;
}

.about__line {
  margin: 0 auto;
  margin-bottom: 3.125rem;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__text {
  line-height: 151.5%;
  max-width: 34.375rem;
  padding-bottom: 68px;
}

.service {
  padding-top: 3.125rem;
  padding-bottom: 4.25rem;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
          box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
}

.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.service__decor {
  position: absolute;
  right: -150px;
  top: 762px;
  z-index: -1;
}

.service__title {
  text-align: center;
  padding-bottom: 0.625rem;
}

.service__line {
  margin: 0 auto;
}

.service__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.125rem;
  padding-top: 52px;
  padding-bottom: 68px;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__btn {
  border-radius: 92px;
  border: 2px solid #3DDABE;
  background: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 1.125rem 2.3125rem;
  color: #3DDABE;
  font-size: 16px;
  font-weight: 900;
  line-height: 151.5%;
  text-transform: uppercase;
}

.service__btn:hover {
  background: #3DDABE;
  color: #FFF;
}

.service-column__name {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 138%;
  text-transform: uppercase;
  padding-top: 1.0625rem;
  padding-bottom: 0.75rem;
}

.service-column__text {
  color: var(--gray-3, #828282);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 138.5%;
  max-width: 13.75rem;
}

.service-image {
  position: relative;
}

.service-image__grey {
  position: absolute;
  right: -2px;
  bottom: -2px;
  z-index: -1;
}

.service-image__decor {
  position: absolute;
  left: -2px;
  top: -2px;
  z-index: -1;
}

.testimonials {
  padding-top: 3.125rem;
  padding-bottom: 4.25rem;
}

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__title {
  padding-bottom: 0.625rem;
}

.testimonials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-top: 4.5rem;
  padding-bottom: 4.25rem;
}

.testimonials__column {
  padding: 30px;
  border-radius: 30px;
  background: #FFF;
  -webkit-box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.2);
          box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.testimonials__column:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.testimonials__column:hover .testimonials-column__name::after {
  width: 100%;
}

.testimonials__btn {
  border-radius: 92px;
  border: 2px solid #3DDABE;
  background: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 1.125rem 2.3125rem;
  color: #3DDABE;
  font-size: 16px;
  font-weight: 900;
  line-height: 151.5%;
  text-transform: uppercase;
}

.testimonials__btn:hover {
  background: #3DDABE;
  color: #FFF;
}

.testimonials-column__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 138%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.testimonials-column__name::after {
  content: "";
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  position: absolute;
  width: 0;
  height: 0.1875rem;
  display: block;
  color: #3DDABE;
  background-color: #3DDABE;
}

.testimonials-column__text {
  color: var(--gray-3, #828282);
  font-size: 12px;
  font-weight: 500;
  line-height: 138.5%;
}

.testimonials-column__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
}

.contact {
  padding: 0px 10px;
  padding-bottom: 50px;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  border-radius: 30px;
  background: var(--gray-6, #F2F2F2);
  padding: 0;
}

.contact__map {
  border-radius: 30px 0px 0px 30px;
}

.contact__map iframe {
  border-radius: 30px 0px 0px 30px;
}

.contact__title {
  padding-top: 3.125rem;
  padding-bottom: 0.625rem;
}

.contact__decor {
  border-radius: 10px;
  background: var(--gray-5, #E0E0E0);
  width: 0.25rem;
  height: 18.5rem;
}

.contact__wrapper {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 26px;
  gap: 1.25rem;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  max-width: 20rem;
}

.contact__form input {
  border-radius: 10px;
  background: #FFF;
  width: 320px;
  height: 48px;
  padding-left: 1.125rem;
}

.contact__form input:focus {
  outline: none;
  border: 2px solid #3DDABE;
  -webkit-box-shadow: 1px 1px 8px -1px #000;
          box-shadow: 1px 1px 8px -1px #000;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__button {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__button p {
  color: #2A796B;
  font-size: 8px;
  line-height: 138.5%;
}

@media (max-width: 55em) {
  .testimonials__column {
    padding: 20px;
  }
}

@media (max-width: 45em) {
  .service__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 40px;
  }
}

@media (max-width: 30em) {
  .work__image img {
    height: 7.5rem;
  }
}

@media (max-width: 25em) {
  .work__image img {
    height: 5.625rem;
  }
}

@media (max-width: 71.25em) {
  .work__rows {
    row-gap: 40px;
  }

  .work__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 40px;
  }

  .work__image img {
    height: 18.75rem;
  }

  .work__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .work__info-line {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin: 20px 0px;
  }

  .work__text {
    text-align: center;
  }
}

@media (max-width: 67.5em) {
  .about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
  }

  .about__text {
    padding-bottom: 0;
  }
}

@media (max-width: 66.6875em) {
  .main__content {
    padding: 40px 30px;
  }

  .main__actions {
    gap: 15px;
  }

  .main__button {
    gap: 15px;
  }
}

@media (max-width: 64.125em) {
  .main__text {
    padding-bottom: 2.375rem;
  }
}

@media (max-width: 64.5625em) {
  .contact__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }

  .contact__map {
    display: none;
  }

  .contact__title {
    padding-top: 1.875rem;
  }
}

@media (max-width: 63.75em) {
  .main__image {
    display: none;
  }

  .work {
    margin-top: 3.75rem;
  }
}

@media (max-width: 56.25em) {
  .work__image img {
    height: 13.75rem;
  }
}

@media (max-width: 47.5em) {
  .testimonials__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 40.625em) {
  .work__image img {
    height: 10rem;
  }
}

@media (max-width: 39.5em) {
  .header__main {
    width: 31.25rem;
  }
}

@media (max-width: 39.5625em) {
  .contact__title {
    text-align: center;
  }

  .contact__line {
    margin: 0 auto;
  }

  .contact__decor {
    display: none;
  }

  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    padding-top: 26px;
  }

  .contact__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 33.5em) {
  .main__content {
    padding: 25px 20px;
    width: 28.125rem;
    max-height: none;
  }

  .main__title {
    font-size: 1.8rem;
  }
}

@media (max-width: 32.5em) {
  .about__image img {
    width: 25rem;
  }
}

@media (max-width: 31.25em) {
  .main__button img {
    display: none;
  }
}

@media (max-width: 29.375em) {
  .header__main {
    width: 25rem;
  }

  .service-column__name {
    font-size: 0.875rem;
  }

  .service-column__text {
    max-width: 8.75rem;
    font-size: 0.625rem;
  }
}

@media (max-width: 26.25em) {
  .about__image img {
    width: 19.375rem;
  }
}

@media (max-width: 23.125em) {
  .header__main {
    width: 18.75rem;
  }
}

@media (max-width: 23.75em) {
  .contact__form {
    max-width: 17.5rem;
  }

  .contact__form input {
    width: 17.5rem;
  }

  .form__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 21.25em) {
  .main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main__button button {
    padding: 1.125rem 2.8125rem;
  }
}